RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "content": "pcsk_6tP6R5_3kNacFHNfWknYjaMK95EppiojhzQX9e2yEo8WeCDu5ZtqMwofsTCNh9sD6pBjXd\nPinecone\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -240
      ],
      "typeVersion": 1,
      "id": "776555bf-a66c-4d81-9bb1-691ef88b7b37",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mUZub3Jpv0r-ZsX7qJXXZr_PfAkq1plv",
          "mode": "list",
          "cachedResultName": "Research Knowledgebase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mUZub3Jpv0r-ZsX7qJXXZr_PfAkq1plv"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "889abc1f-ee6a-4a8a-9abe-4361112e16ac",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jao7idwioDsxAz0q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        0
      ],
      "id": "c61528f5-97d4-4db9-a261-827266f6c6ef",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jao7idwioDsxAz0q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-agent2",
          "mode": "list",
          "cachedResultName": "rag-agent2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        0
      ],
      "id": "2261a53c-d253-4ae5-a85f-b83dc53e6966",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "EpmEd0XqnhPOikli",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        432
      ],
      "id": "913b124c-fbd5-4a4b-a20e-3bf5b9b2cbcf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XRljAecNLtyTQqpI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "File Name",
                "value": "={{ $('Google Drive Trigger').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        224
      ],
      "id": "a2e8a93c-f42f-4fce-862e-b9129c0a1990",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "f48ed0e8-29cb-4da9-8d13-4a11eb92e180",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "4a5cea6d-a282-4d4a-a518-c6edf0f731a5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1HKg1SyIO3pYz5oo",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "144d35c8-6adc-46f0-b6a4-1c984f3e695a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71a16328520207bdeddd2e632ee263b50e63564515caf24f771be4c176447754"
  },
  "id": "XrhabfmfoJOPaIDd",
  "tags": []
}