RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mUZub3Jpv0r-ZsX7qJXXZr_PfAkq1plv",
          "mode": "list",
          "cachedResultName": "Research Knowledgebase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mUZub3Jpv0r-ZsX7qJXXZr_PfAkq1plv"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        304
      ],
      "id": "0e6933b2-4679-4464-b86f-e645b8f09cb3",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        304
      ],
      "id": "674bd496-0dd1-4bfa-a9c5-a05e4a923774",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-agent2",
          "mode": "list",
          "cachedResultName": "rag-agent2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -176,
        304
      ],
      "id": "c3426b4d-5205-4b36-b29d-437d9e0d22c8",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1328,
        -816
      ],
      "id": "6dfbd565-f34d-49a5-b9c0-6e76a115cdd6",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "File Name",
                "value": "={{ $('Google Drive Trigger').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        528
      ],
      "id": "6ea44e57-8f1f-453f-aeb9-43dfabc0df31",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        0,
        736
      ],
      "id": "d6a0438b-e4e1-46c6-bf2d-a52eccdec3a2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        528
      ],
      "id": "57c45b47-a2b7-4198-8ffd-2b9391c2edef",
      "name": "Embeddings Google Gemini"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eea2bbc6-59cb-4e6e-ae62-e46d1657fb57",
  "meta": {
    "instanceId": "8a75301c4ad334d46e421c86ab4055e1e4d527439bc42d2af78fce91ca61e6ee"
  },
  "id": "xKgULzqYbW30J3CQ",
  "tags": []
}